<!DOCTYPE html>

<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/styles/styles.css" type="text/css">
    <title>Request Header Parser</title>
  </head>

  <body>
    <div class="container">
      <h2>Request Header Parser Microservice</h2>

      <h3>Example Usage:</h3>
      <p>
        <a href="api/whoami">[base url]/api/whoami</a>
      </p>

      <h3>Example Output:</h3>
        <p>
          <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
    </div>
  </body>

</html>